<div class="container-fluid">
  <div class="positions-center">
    <h2>職業清單</h2>

  </div>
  <div class="row">
  <% @positions.each do |p| %>
    <div class="col-sm-3">
      <div class="panel panel-default positions-center">

        <div class="panel-heading">
          <h1><%= p.name %></h1>
        </div>
        <div class="panel-body">
          <div class="position_image_tag">
            <%= image_tag p.photo.url(:medium) %>
          </div>
        </div>
        <div class="panel-footer">
            <%= link_to "編輯", edit_admin_position_path(p),:class => "btn btn-primary" %>
            <%= link_to "刪除", admin_position_path(p), :method => :delete,  :data => { :confirm => "刪了就回不去囉！" }, :class => "btn btn-danger" %>
        </div>

      </div>
    </div>
    <% end %>
  </div>
</div>


<%= link_to '返回文章首頁', admin_topics_path %><br>
<%= link_to "新增職位", new_admin_position_path %>/


