<h2>修改會員資料</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password,"新密碼" %> <i>(如果不想修改密碼,請留白)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,"密碼確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password,"目前密碼" %> <i>(請輸入目前密碼,以確認修改)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <div><%= f.label :name,"姓名" %><br />
    <%= f.text_field :name %></div>
  </div>

    <div class="field">
    <div><%= f.label :birthday,"生日" %><br />
    <%= f.date_field :birthday %></div>
  </div>

    <div class="field">
    <div><%= f.label :major,"主修" %><br />
    <%= f.text_field :major %></div>
    </div>

    <div class="field">
    <div><%= f.label :occupation,"職業" %><br />
    <%= f.text_field :occupation %></div>
    </div>    

    <div class="field">
    <div><%= f.label :school,"畢業學校" %><br />
    <%= f.text_field :school %></div>
    </div>
    <div class="field">
    <div><%= f.label :former_occupation,"前工作" %><br />
    <%= f.text_field :former_occupation %></div>
    </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<h3>刪除帳號</h3>

<p>Unhappy? <%= button_to "刪除我的帳號", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
