


				<div class="col-md-10 topicorder">
					排序:<%=link_to "發佈時間",topics_path(:p=>params[:p],:i=>params[:i],:order=>'created_at')%>
					<%=link_to "回應數",topics_path(:p=>params[:p],:i=>params[:i],:order=>'comment_count')%>
					<%=link_to "年資",topics_path(:p=>params[:p],:i=>params[:i],:order=>'working_time')%>
				</div>

<%@topics.each do |t|%>
	<div class="col-md-10 topicbox">		
	  <div class="row">
	    <div class="col-md-2 topicboxphoto">
	    		<%=image_tag("gine.jpg",:class=>"img-rounded")%>
	    </div>
	    <div class="col-md-10 topicboxmain">
					<div class="row">
						<span class="col-md-8">
							 <h2><%=link_to t.name,topic_path(t)%></h2>
						</span>
						<span class="col-md-4">
						   <%=t.created_at.to_s(:short)%>
						</span>
						<span class="col-md-8">
						   <%=t.user.name%>
						   <%=t.user.occupation%>
						   <%=t.industry.name%>
						   年資:<%=t.working_time%>年
						</span>
	        </div>
					<div class="row">
						<span class="col-md-8">
							<p><%= t.content %></p>
						</span>
						<span class="col-md-4">
						<%= like_button(:send) %></span>
						<span class="col-md-4">收藏:<%=t.subscriptions.size%>
						</span>
					</div>
			</div>
	  </div>
	</div>

<% end %>


<div class="row">

	<div class="col-md-12 pag">

    
        <li><%= paginate @topics%></li>


	</div>
</div>