




<%@topics.each do |t|%>
	<div class="col-md-10 topicbox">		
	  <div class="row">
	    <div class="col-md-3 col-xs-3 topicboxphoto">
	    		<%=image_tag("gine.jpg",:class=>"img-rounded")%>
	    </div>
	    <div class="col-md-9 col-xs-9 topicboxmain">
					<div class="row">
						<span class="col-md-8">
							 <h2><%=link_to t.name,topic_path(t)%></h2>
						</span>
						<span class="col-md-4" id="topictime">
						   <%=t.created_at.to_s(:short)%>
						</span>
						<span class="col-md-8" id="topicintro">
						   <%=t.user.name%>
						   <%=t.user.occupation%>
						   <%=t.industry.name%>
						   年資:<%=t.working_time%>年
						</span>
	        </div>
					<div class="row">
						<span class="col-md-8">
							<p><%= t.description %></p>
						</span>
						<span class="col-md-4" id="fblike">
						<%= like_button(:show) %></span>
						<span class="col-md-4" id="subcount">收藏人數:<%=t.subscriptions.size%>人
						</span>
					</div>
			</div>
	  </div>
	</div>

<% end %>


<div class="row">

	<div class="col-md-12 pag">

    
        <li><%= paginate @topics%></li>


	</div>
</div>