<%@topics.each do |t|%>
<row>
	<div class="col-md-12 topicbox">
	  <row>
	    <div class="col-md-4 topicboxphoto">
	    		<%=image_tag("space.jpg")%>
	    </div>
	    <div class="col-md-8 topicboxmain">
					<row>
						<span class="col-md-8">
							 <h2><%=link_to t.name,topic_path(t)%></h2>
						</span>
						<span class="col-md-4">
						   <%=t.created_at.to_s(:short)%>
						</span>
						<span class="col-md-8">
						   <%=t.user.name%>
						   <%=t.user.occupation%>
						   <%=t.industry.name%>
						</span>
	        </row>
					<row>
						<span class="col-md-8">
							<p><%= t.content %></p>
						</span>
						<span class="col-md-4">
						  likes:<%=t.likes.size%></span>
						<span class="col-md-4">收藏:<%=t.subscriptions.size%>
						</span>
					</row>
			</div>
	  </row>
	</div>
</row>

<% end %>

<row>

<div class="col-md-12 pag">
	<%= paginate @topics %>
</div>
</row>