<%@topics.each do |t|%>
	<div class="col-md-10 topicbox">
	  <div class="row">
	    <div class="col-md-3 col-xs-3 topicboxphoto">
	    		<%=link_to image_tag(t.user.photo.url(:medium)),user_path(t.user)%>
	    </div>
	    <div class="col-md-9 col-xs-9 topicboxmain">
					<div class="row">
						<span class="col-md-8 topicname">
							 <h2><%=link_to t.name,topic_path(t)%></h2>
						</span>
						<span class="col-md-4" id="topictime">
						   <%=t.created_at.to_s(:short)%>
						</span>
						<span class="col-md-8" id="topicintro">
						   <span><%=t.user.name%></span>
						   <span><%=t.user.occupation%></span>
						   <span><%=t.industry.name%></span>
						   <span>年資:<%=t.working_time%>年</span>
						</span>
	        </div>
					<div class="row">
						<span class="col-md-8 topicdes">
							<p><%=link_to t.description,topic_path(t)%></p>
						</span>
						<span class="col-md-4" id="fblike">
						<%= social_share_button_tag(t.name,:url=>topic_url(t))%></span>
						<span class="col-md-4" id="subcount"><%=image_tag("heart.jpg")%>收藏:<%=t.subscriptions.size%>
						</span>
					</div>
			</div>
	  </div>
	</div>

<% end %>


<div class="row">

	<div class="col-md-12 pag">


        <li><%= paginate @topics%></li>


	</div>
</div>
</div>
</div>