<div class="container">


<div class="container">
	<div class="row">
	 	<% if @position %>
	 	<h1 class="col-md-12 positionname"><%=@position.name%></h1>
		<% end %>
	</div>
<!-- <<<<<<< HEAD -->
         <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <h1 id="welcomeh1">類別精選</h1>
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="gine.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>劉小佑</h2>
          <p>Liskyo CEO</p>
          <p></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>馬克祖克伯</h2>
          <p>FB CEO</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>馬雲</h2>
          <p>阿里巴巴創辦人</p>

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

<!-- =======
  <div class="row">
       <div class="col-md-12 topic-title"><h3>熱門精選</h3></div>
  </div>
  <div class="row">
           <div class="col-md-3">
             <div class="list">
               <div class="list-thumb"><a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a></div>
               <div class="topic-author">姓名：阿嬤</div>
               <div class="topic-industry">產業：無產階級</div>
               <div class="topic-position">職稱：老佛爺</div>
               <div class="excerpt">
                     文章開頭：阿嬤只是睡著了
               </div>
                <div class="meta">

                 <a href="#" class="more">阿嬤沒感覺</a>
               </div>
             </div>
           </div>
           <div class="col-md-3">
             <div class="list">
             <div class="list-thumb"><a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a></div>
             <div class="topic-author">姓名：阿嬤</div>
             <div class="topic-industry">產業：無產階級</div>
             <div class="topic-position">職稱：老佛爺</div>
             <div class="excerpt">
                  文章開頭：阿嬤只是睡著了
             </div>
               <div class="meta">

               <a href="#" class="more">阿嬤沒感覺</a>
             </div>
             </div>
           </div>
            <div class="col-md-3">
              <div class="list">
              <div class="list-thumb"><a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a></div>
              <div class="topic-author">姓名：阿嬤</div>
              <div class="topic-industry">產業：無產階級</div>
              <div class="topic-position">職稱：老佛爺</div>
              <div class="excerpt">
                文章開頭：阿嬤只是睡著了
              </div>
              <div class="meta">

                <a href="#" class="more">阿嬤沒感覺</a>
              </div>
            </div>
            </div>
            <div class="col-md-3">
              <div class="list">
              <div class="list-thumb"><a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a></div>
              <div class="topic-author">姓名：阿嬤</div>
              <div class="topic-industry">產業：無產階級</div>
              <div class="topic-position">職稱：老佛爺</div>
              <div class="excerpt">
                文章開頭：阿嬤只是睡著了
              </div>
              <div class="meta">

                <a href="#" class="more">阿嬤沒感覺</a>
              </div>
              </div>
            </div>
      </div>
     </div>
>>>>>>> frankH -->

  <div class="col-md-12 topicorder">
    排序:<%=link_to "發佈時間",topics_path(:p=>params[:p],:i=>params[:i],:order=>'created_at')%>
    <%=link_to "回應數",topics_path(:p=>params[:p],:i=>params[:i],:order=>'comment_count')%>
    <%=link_to "年資",topics_path(:p=>params[:p],:i=>params[:i],:order=>'working_time')%>
  </div>



 	<div class="col-md-2 sidebarlist">
			<div class="list-group">
				<%@industries.each do |i|%>
				<%=link_to i.name,topics_path(:i=>i.id,:p=>params[:p]),:class=>"list-group-item"%>
				<% end %>
			</div>
	</div>



	<%= render :partial => "list", :locals => { :topics => @topics } %>

</div>


