<div class="container">


<div class="container">
	<div class="row">
	 	<% if @position %>
	 	<h1 class="col-md-12 positionname"><%=@position.name%></h1>
		<% end %>
	</div>

         <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <h1 id="welcomeh1">類別精選</h1>
 <div class="row">
        <%= render "shared/topic_columns" %>


  <div class="col-md-12 topicorder">
    排序:<%=link_to "發佈時間",topics_path(:p=>params[:p],:i=>params[:i],:order=>'created_at')%>
    <%=link_to "回應數",topics_path(:p=>params[:p],:i=>params[:i],:order=>'comment_count')%>
    <%=link_to "年資",topics_path(:p=>params[:p],:i=>params[:i],:order=>'working_time')%>
  </div>



 	<div class="col-md-2 sidebarlist">
			<div class="list-group">
				<%@industries.each do |i|%>
				<%=link_to i.name,topics_path(:i=>i.id,:p=>params[:p]),:class=>"list-group-item"%>
				<% end %>
			</div>
	</div>



	<%= render :partial => "list", :locals => { :topics => @topics } %>

</div>

</div>
