
<div class="container">		

		<div class="row">
			<h1 class="col-md-12"><%=@topic.name%></h1>
		</div>
		<div class="row">
			<div class="col-md-4 topicimage"><%=image_tag("gine.jpg")%></div>
			<div class="col-md-4 topicusername"><h6><%=@topic.user.name%></h6>
			<h6><%=@topic.user.occupation%></h6><h6><%=@topic.industry.name%></h6><h6>年資: <%=@topic.working_time%> 年</h6></div>
			<div class="col-md-4">	<% like = @topic.find_my_like(current_user) %>
				<% if like %>
				<%= link_to "Unlike", topic_like_path(@topic, like), :method => :delete, :class => "btn btn-danger" %>
				<% else %>
				<%= link_to "Like", topic_likes_path(@topic), :method => :post, :class => "btn btn-default" %>
				<% end %>
			 
			 	<% if @topic.find_my_subscription(current_user) %>
			 	<%= link_to "UnSubscribe", unsubscribe_topic_path(@topic), :method => :post, :class => "btn btn-danger" %>
			  <% else %>
			  <%= link_to "Subscribe", subscribe_topic_path(@topic), :method => :post, :class => "btn btn-default" %>
			  <% end %>
			 </div>
		</div>

		<div class="row">
			<div class="col-md-12 topiccontent">
				<p>
					<%=@topic.content%>
				</p>
			</div>
		</div>

		<div class="row">
			<table class="col-md-12 table">
		<tr>
			<td>
				內容
			</td>
			<td>
				留言者
			</td>
			<td>
				回覆時間
			</td>
		</tr>

		<% @comments.each do |c|%>
		<tr>
			
			<td class="commentcontent">
				<%=c.content%>
			</td>
			<td>
				<%=c.user.name||c.user.try(:email)%>
			</td>
			<td>
				<%=c.created_at.to_s(:short)%>
			</td>

		</tr>
		<%end%>
		</table>
		</div>
		<div class="row">
		<div class="col-md-12 topiccomment">

				<%= form_for @comment,:url=>topic_comments_path(@topic) do |f|%>
				<div class="form-group">
				<%= f.label :content,"我要留言:"%>
				<%= f.text_area :content,:class=>"form-control"%>
				</div>
				<%= f.submit "留言",:class=>"btn btn-primary"%>
				<%end%>
		</div>
	
		</div>
		<div class="row">

			<p class="col-md-12"><%= link_to 'Back to '+@topic.position.name, topics_path(:p=>@topic.position) %></p>
		</div>

		<div class="row">
       <div class="col-md-12 topic-title"><h3>其他精選文章</h3></div>
  </div>
  <div class="row">
           <div class="col-md-3">
             <div class="list">
               <div class="list-thumb"><a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a></div>
               <div class="topic-author">姓名：阿嬤</div>
               <div class="topic-industry">產業：無產階級</div>
               <div class="topic-position">職稱：老佛爺</div>
               <div class="excerpt">
                     文章開頭：阿嬤只是睡著了
               </div>
                <div class="meta">
               <div class="fa fa-wheelchair fa-3x"></div>
                 <a href="#" class="more">阿嬤沒感覺</a>
               </div>
             </div>
           </div>
           <div class="col-md-3">
             <div class="list">
             <div class="list-thumb"><a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a></div>
             <div class="topic-author">姓名：阿嬤</div>
             <div class="topic-industry">產業：無產階級</div>
             <div class="topic-position">職稱：老佛爺</div>
             <div class="excerpt">
                  文章開頭：阿嬤只是睡著了
             </div>
               <div class="meta">
               <div class="fa fa-wheelchair fa-3x"></div>
               <a href="#" class="more">阿嬤沒感覺</a>
             </div>
             </div>
           </div>
            <div class="col-md-3">
              <div class="list">
              <div class="list-thumb"><a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a></div>
              <div class="topic-author">姓名：阿嬤</div>
              <div class="topic-industry">產業：無產階級</div>
              <div class="topic-position">職稱：老佛爺</div>
              <div class="excerpt">
                文章開頭：阿嬤只是睡著了
              </div>
              <div class="meta">
                <div class="fa fa-wheelchair fa-3x"></div>
                <a href="#" class="more">阿嬤沒感覺</a>
              </div>
            </div>
            </div>
            <div class="col-md-3">
              <div class="list">
              <div class="list-thumb"><a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a></div>
              <div class="topic-author">姓名：阿嬤</div>
              <div class="topic-industry">產業：無產階級</div>
              <div class="topic-position">職稱：老佛爺</div>
              <div class="excerpt">
                文章開頭：阿嬤只是睡著了
              </div>
              <div class="meta">
                <div class="fa fa-wheelchair fa-3x"></div>
                <a href="#" class="more">阿嬤沒感覺</a>
              </div>
              </div>
            </div>
      </div>
</div>      