
<div class="container">

		<div class="row">
			<h1 class="col-md-12 topich1"><%=@topic.name%></h1>
		</div>
		<div class="row topicpeoplebox">
			<div class="col-md-2 topicimage"><%=image_tag("gine.jpg")%></div>
				<div class="col-md-10">
					<div class="row">
							<div class="col-md-10 topicusername"><spna class="topicpeoplename"><%=@topic.user.name%></spna><span class="topicpeople"><%=@topic.user.occupation%></span><span class="topicpeople"><%=@topic.industry.name%></span><span class="topicpeople">年資: <%=@topic.working_time%> 年</span></div>
							<div class="col-md-2">

					 	<% if @topic.find_my_subscription(current_user) %>
					 	<%= link_to "取消收藏", unsubscribe_topic_path(@topic), :method => :post, :class => "btn btn-danger" %>
					  <% else %>
					  <%= link_to "收藏文章", subscribe_topic_path(@topic), :method => :post, :class => "btn btn-default" %>
					  <% end %>
					 		</div>
			 	</div>
				 	<div class="row">

						<div class="col-md-9 topicintro">
							<p>
								<%if @topic.user.introduction%>
									<%=@topic.user.introduction%>
								<%end%>

                <% #[CR] can print it directly %>
                <%#= @topic.user.instruction %>
							</p>
						</div>
					</div>
				</div>
		</div>


		<div class="row">
			<div class="col-md-12 topiccontent">
				  <p>
					  <%= @topic.content.html_safe %>
				  </p>
			</div>
		</div>

		<div class="row">
			<table class="col-md-12 table">
		<tr>
			<td>
				留言內容
			</td>
			<td>
				留言者
			</td>
			<td>
				回覆時間
			</td>
		</tr>

		<% @comments.each do |c|%>
		<tr>

			<td class="commentcontent">
				<%=c.content%>
			</td>
			<td>
				<%=c.user.name||c.user.try(:email)%>
			</td>
			<td>
				<%=c.created_at.to_s(:short)%>
			</td>

		</tr>
		<%end%>
		</table>
		</div>


		<div class="row">
		<div class="col-md-12 topiccomment">

				<%= form_for @comment,:url=>topic_comments_path(@topic) do |f|%>
				<div class="form-group">
				<%= f.label :content,"我要留言:"%>
				<%= f.text_area :content,:class=>"form-control"%>
				</div>
				<%= f.submit "留言",:class=>"btn btn-primary"%>
				<%end%>
		</div>

		</div>
		<div class="row">
	 	<% if @position %>
	 	<h1 class="col-md-12 positionname"><%=@position.name%></h1>
		<% end %>
	</div>
         <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <h1 id="welcomeh1">其他精選文章</h1>
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="gine.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>劉小佑</h2>
          <p>Liskyo CEO</p>
          <p></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>馬克祖克伯</h2>
          <p>FB CEO</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>馬雲</h2>
          <p>阿里巴巴創辦人</p>

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
		<hr>
</div>
</div>