
<div class="container">

		<div class="row">
			<h1 class="col-md-12 topich1"><%=@topic.name%></h1>
		</div>
		<div class="row topicpeoplebox">
			<div class="col-md-2 topicimage"><%=link_to image_tag(@topic.user.photo.url(:medium)),user_path(@topic.user)%></div>
				<div class="col-md-10">
					<div class="row">
							<div class="col-md-10 topicusername">
								<div class="row">
									<div class="col-md-12 topicx">
									<spna class="topicpeoplename"><b><%=@topic.user.name%></b></spna>
                  <span class="topicpeople"><b><%=@topic.user.occupation%></b></span>
                  <span class="topicpeople"><b><%=@topic.industry.name%></b></span>
                  <span class="topicpeople"><b>年資: <%=@topic.working_time%> 年</b></span>
									</div>
									<div class="col-md-9 topicintro">
										<p>
											 <%=@topic.user.introduction%>
									  </p>
									</div>
								</div>

							</div>
							<div class="col-md-2">
								<div class="row">
									<div class="col-md-12">
										<%=@topic.created_at.to_s(:short)%>
									</div>
									<div class="col-md-12 subbtn">
											<%=image_tag("heart.jpg")%>
										 	<% if @topic.find_my_subscription(current_user) %>
										 	<%= link_to "取消", unsubscribe_topic_path(@topic), :method => :post, :class => "btn btn-danger btn-xs" %>
										  <% else %>
										  <%= link_to "收藏", subscribe_topic_path(@topic), :method => :post, :class => "btn btn-default btn-xs" %>
										  <% end %>
									</div>
									<div class="col-md-12">
										<%=social_share_button_tag(@topic.name,:url=>topic_url(@topic))%>
									</div>

								</div>
					 		</div>

			 			</div>

				</div>
		</div>


		<div class="row">
			<div class="col-md-12 topiccontent">

				<p>
					<%= @topic.content.html_safe %>
				</p>

			</div>
		</div>

		<div class="row">
			<table class="col-md-12 table">
		<tr>
			<td>
				留言內容
			</td>
			<td>
				留言者
			</td>
			<td>
				回覆時間
			</td>
		</tr>

		<% @comments.each do |c|%>
		<tr>

			<td class="commentcontent">
				<%= c.content %>
			</td>
			<td>
				<%= c.user.display_name %>
			</td>
			<td>
				<%= c.created_at.to_s(:short) %>
			</td>

		</tr>
		<%end%>
		</table>
		</div>


		<div class="row">
		<div class="col-md-12 topiccomment">

				<%= form_for @comment,:url=>topic_comments_path(@topic) do |f|%>
				<div class="form-group">
				<%= f.label :content,"我要留言:"%>
				<%= f.text_area :content,:class=>"form-control"%>
				</div>
				<%= f.submit "留言",:class=>"btn btn-primary"%>
				<%end%>
		</div>

		</div>
		<div class="row">
	 	<% if @position %>
	 	  <h1 class="col-md-12 positionname"><%=@position.name%></h1>
		<% end %>
	</div>
         <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <h1 id="welcomeh1">其他精選文章</h1>
      <%= render "shared/topic_columns" %>

		<hr>
</div>
</div>


</div>


