<div class="topic-container">
  <div class="draft-list">
    <div class="row">
      <div class="col-md-12">

        <div class="drafts-header">
          <h2><span class="label label-default">待審核草稿列表</span></h2>
        </div>
      </div>

      <div class="col-md-12">
            職業分類：
          <% Position.all.each do |p| %>
          <%= link_to p.name, admin_topics_path(:position =>p) %>/
          <% end %><br>
      </div>
      <div class="col-md-12">

            產業分類：
          <% Industry.all.each do |i| %>
          <%= link_to i.name, admin_topics_path(:industry =>i) %>/
          <% end %><br>
      </div>

<%= form_tag draft_upload_admin_drafts_path do %>


          <div class="col-md-12">
                  <table class="table draft">
                    <tr>
                      <th>
                        <h4><div class="label label-success">狀態：</div></h4></th>

                      <th>
                        <h4><div class="label label-success"><i class="fa fa-user "></i> User</div></h4>
                      </th>
                      <th>
                        <h4><span class="label label-success">職位：</span></h4>  </th>
                      <th>
                        <h4><span class="label label-success">年資：</span></h4>
                      </th>
                      <th><h4><span class="label label-success">產業：</span></h4></th>
                      <th>
                        <h4><span class="label label-success">標題：</span></h4>
                      </th>
                      <th><h4><span class="label label-success">文章：</span></h4></th>
                      <th>
                        <h4><div class="label label-success"><i class="fa fa-clock-o fa-lg"></i>發表時間</div></h4>
                      </th>
                      <th></th>
                      <th></th>
                    </tr>

                  <% @drafts.each do |d| %>

                    <tr class="info-hover">
                      <td>
                          <%= check_box_tag "ids[]", d.id, false %>
                          <%= d.status %></td>

                      <td>
                           <div class="user-img">
                            <%= link_to user_path(d.user) do %>
                           <span><%= image_tag d.user.photo(:sm), :class => 'img-circle'%>
                           </span>
                            <% end %>
                           </div>
                      </td>

                      <td><%= d.position.name %> </td>

                      <td><%= d.working_time %></td>

                      <td><%= d.industry.name %></td>

                      <td>
                        <%= d.name %>
                      </td>

                      <td>
                          <%= link_to "進入", admin_draft_path(d),:class => "btn btn-primary fa fa-file-text-o" %>
                          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal_<%= d.id %>">Preview</button>

<!-- Modal -->
<div id="myModal_<%= d.id %>" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> 標題：<%= d.name %></h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-3 topicimage"><%= image_tag d.user.photo.url(:thumb)%></div>
          <div class="col-md-9 topicusername"><h6><%=d.user.name%></h6>
            <h6><%=d.user.occupation%></h6><h6><%=d.industry.name%></h6><h6>年資: <%=d.working_time%> 年</h6></div>
        </div>


        <div class="row">
          <div class="col-md-12 topiccontent">
            <p>
              <%= d.content.html_safe %>
            </p>
          </div>
        </div>
      </div> <!-- body-->

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


    </div>  <!--content -->
  </div>
</div>  <!-- modal -->

                      </td>

                      <td><%= d.created_at.to_s(:short) %></td>

                      <td>
                          <%= link_to "Edit", edit_admin_draft_path(d), :class => "btn btn-primary fa fa-pencil fa-pull-left" %>

                          <%= link_to "Delete", admin_draft_path(d, :page => params[:page]),
                           :method => :delete, :data => { :confirm => "Are you sure ?" },:class=>"btn btn-danger fa fa-trash-o fa-pull-right" %>
                      </td>
                    </tr>
                  <% end %>
                </table>



    <%= submit_tag "核選發佈", :class => "btn btn-primary"%>
    <%= submit_tag "核選刪除", :class => "btn btn-danger" %>

    <% end %>


          <div class="row">
            <div class="col-md-12">
              <%= paginate @drafts %>
            </div>
          </div>


</div>
</div>

        <div class="topic-list">
          <div class="row"></div>
            <div class="col-md-12">

              <div class="topics-header">
                <h2><span class="label label-default">已發表列表</span></h2>
              </div>

            </div>

          <div class="col-md-12">
              職業分類：
            <% Position.all.each do |p| %>
            <%= link_to p.name, admin_topics_path(:position_topics =>p) %>/
            <% end %><br>
          </div>

          <div class="col-md-12">
              產業分類：
            <% Industry.all.each do |i| %>
            <%= link_to i.name, admin_topics_path(:industry_topics =>i) %>/
            <% end %><br>
          </div>




            <div class="col-md-12">

                  <table class="table">
                    <tr>
                      <th>
                        <h4><div class="label label-success"><i class="fa fa-user "></i> User</div></h4>
                      </th>

                     <th>
                        <h4><span class="label label-success">職位：</span></h4></th>

                      <th>
                        <h4><span class="label label-success">年資：</span></h4>
                      </th>
                      <th><h4><span class="label label-success">產業：</span></h4></th>
                      <th>
                        <h4><span class="label label-success">標題：</span></h4>
                      </th>
                      <th><h4><span class="label label-success">文章：</span></h4></th>
                      <th>
                        <h4><div class="label label-success"><i class="fa fa-clock-o fa-lg"></i>發表時間</div></h4>
                      </th>
                      <th></th>

                    </tr>

                  <% @topics.each do |t| %>

                    <tr class="info-hover">

                      <td>
                          <%= link_to t.user.name, user_path(t.user) %></td>

                      <td><%= t.position.try(:name) %></td>

                      <td><%= t.working_time %></td>

                      <td><%= t.industry.name %> </td>

                      <td><%= t.name %></td>


                      <td><%= link_to "進入", admin_topic_path(t),:class => "btn btn-primary" %></td>

                      <td><%= t.created_at.to_s(:short) %></td>

                      <td>

                          <%= link_to "Edit", edit_admin_topic_path(t), :class => "btn btn-primary fa fa-pencil fa-pull-left" %>

                          <%= link_to "Delete", admin_topic_path(t, :page => params[:page]),
                           :method => :delete, :data => { :confirm => "Are you sure ?" },:class=>"btn btn-danger fa fa-trash-o fa-pull-right" %>

                      </td>
                    </tr>
                    <% end %>
                  </table>

            </div>
         </div>

                    <div class="col-md-12">
                        <%= paginate @topics %>
                    </div>

  </div>
</div>



<%= link_to "草稿管理", admin_drafts_path %>
