<h1>Stepout admin Interface </h1>

<%= link_to "新增產業", new_admin_industry_path %>
<%= link_to "產業頁面", admin_industries_path %><br>
<%= link_to "新增職位", new_admin_position_path %>
<%= link_to "職業頁面", admin_positions_path %><br>
<%= link_to "文章管理", admin_drafts_path %>