
          <div class="user-container">
           <div class="col-md-12 userbox">
             <row>
                <div class="col-md-3 userboxphoto">
                   <div class="user-thumb">
                      <a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a>
                   </div>
                </div>
                <div class="col-md-9 userboxinfo">
                   <row>
                      <span class="col-md-12">
                       <h2><%=@user.name%></h2>
                      </span>
                      <span class="col-md-12">
                      工程製造
                      </span>
                      <span class="col-md-12">
                      <p>資訊科技</p>
                      </span>
                    </row>
                    <row>
                      <span class="col-md-12">
                        <p>傳說中的阿嬤身份依然是個謎傳說中的阿嬤身份依然是個謎傳說中的阿嬤身份依然是個謎傳說中的阿嬤身份依然是個謎傳說中的阿嬤身份依然是個謎傳說中的阿嬤身份依然是個謎傳說中的阿嬤身份依然是個謎傳說中的阿嬤身份依然是個謎傳說中的阿嬤身份依然是個謎傳說中的阿嬤身份依然是個謎傳說中的阿嬤身份依然是個謎傳說中的阿嬤身份依然是個謎傳說中的阿嬤身份依然是個謎傳說中的阿嬤身份依然是個謎傳說中的阿嬤身份依然是個謎傳說中的阿嬤身份依然是個謎</p>
                      </span>
                    </row>
                </div>

             </row>
            </div>
            </div>





<% if @user==current_user %>
<%@str="我的文章"%>
<%else%>
<% @str=@user.email+"的文章"%>
<%end%>
<div class="usercollection">
  <row>
    <span class="col-md-4">
        <h3><%=link_to "收藏文章",user_path(params[:id])%></h3>
    </span>
    <span class="col-md-4">
       <h3> <%=link_to @str,user_path(params[:id],:me=>"me")%></h3>
    </span>
    <% if @user==current_user%>
    <span class="col-md-4">
      <h3><%=link_to "帳號管理",edit_registration_path(:user)%></h3>
    <% end %>
    </span>
  </row>
</div>

 <%= render :partial => "topics/list", :locals => { :topics => @topics } %>

