<h1><%= @user.email %></h1>
 
<%=link_to "收藏文章",user_path(params[:id])%>|<%=link_to "我的文章",user_path(params[:id],:me=>"me")%>|<%=link_to "帳號管理",edit_registration_path(:user)%>


 <%= render :partial => "topics/list", :locals => { :topics => @topics } %> 