
         
<div class="container">

        <div class="row">
           <div class="col-md-10 userboxmain">
              <div class="row">
                <div class="col-md-3 userboxphoto">
                  <%= image_tag @user.photo.url(:medium)%>
                </div>
                <div class="col-md-9 userifo">
                  <div class="row">
                    <div class="col-md-12 username">
                      <div class="userboxname"><b><%=@user.name%></b></div>
                    </div>
                    <div class="col-md-12 userposition">
                      <div class="userboxposition"><%=@user.occupation%></div>
                    </div>
                    <div class="col-md-12 userboxintro">
                        <p><%=@user.introduction%></p>
                    </div>                                        
                  </div>
                </div>
              </div>    
            </div>
            <div class="col-md-2 userboxsub">
              <div class="row">
                <div class="col-md-12 userboxsubt"><small class="suba"><i>畢業學校:</i></small><br><%=@user.school%></div>
                <div class="col-md-12 userboxsuba" ><small class="suba"><i>主修:</i></small><br><%=@user.major%></div>
                <div class="col-md-12 userboxsuba"><small class="suba"><i>上一份工作:</i></small><br><%=@user.former_occupation%></div>
              </div>
            </div>
        </div>
       

<div class="usercollection">
  <div class="row">
    <span class="col-md-4">
        <h3><%=image_tag("heart.jpg")%><%=link_to "收藏文章",user_path(params[:id])%></h3>
    </span>
    <span class="col-md-4">
       <h3><%=image_tag("writing.jpg")%>
       <% if @user == current_user %>
          <%=link_to "我的文章", user_path(params[:id],:me=>"me")%>
        <% else %>
          <%=link_to "#{@user.display_name} 的文章",user_path(params[:id],:me=>"me")%>
        <% end %>
       </h3>
    </span>
    <% if @user==current_user %>
    <span class="col-md-4">
      <h3><%=image_tag("people.png")%><%=link_to "帳號管理",edit_registration_path(:user)%></h3>
    <% end %>
    </span>
  </div>
</div>
<hr>


 <%= render :partial => "topics/list", :locals => { :topics => @topics } %>

<hr>
</div>