<!DOCTYPE html>
<html>
<head>
  <title>Stepout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% if flash[:notice].present? %>
          <div class="alert alert-success" role="alert"><%= flash[:notice] %>
          </div>
          <% end %>

        <% if flash[:alert].present? %>
          <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
        <% end %>
        </div>
      </div>
    </div>



    <div class="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand-admin" href="http://www.stepout.space/admin/topics">
                <span class="stepout-logo">
                  <%=image_tag("Stepout Logo.png") %>文章管理
                </span>
              </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">職業清單 <span class="caret"></span></a>
                  <ul class="dropdown-menu">

                     <% Position.all.each do |p|%>
                     <li>
                       <%=link_to p.name, admin_positions_path%>
                     </li>
                     <% end %>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">產業清單 <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                     <% Industry.all.each do |i|%>
                     <li>
                      <%=link_to i.name,admin_industries_path %>
                     </li>
                     <% end %>
                  </ul>
                </li>

                <li class="frontend">
                  <%= link_to "前台", welcome_path %>
                </li>

                <li>
                <% if current_user && current_user.admin?%>
                <%=link_to "新增草稿",new_admin_draft_path%>
                <% else %>
                <%=link_to "新增草稿",new_session_path(:user)%>
                <% end %>
                </li>
              </ul>


            <div class="right">
              <ul class="nav navbar-nav">

                <% if current_user %>
                  <li><%=current_user.name||current_user.email%></li>
                  <li>
                    <div class="user-img">
                      <%=link_to user_path(current_user) do %>
                      <%= image_tag current_user.photo(:sm), :class => 'img-circle' %>
                      <% end %>
                    </div>
                  </li>
                  <li><%= link_to('登出', destroy_user_session_path, :method => :delete, :class => "fa fa-sign-out fa-lg") %></li>
                  <li><%= link_to('修改密碼', edit_registration_path(:user)) %></li>
                <% else %>
                  <li><%=link_to "會員中心",new_session_path(:user)%></li>
                  <li><%= link_to('註冊', new_registration_path(:user)) %></li>
                  <li><%= link_to('登入', new_session_path(:user), :class => "fa fa-sign-in fa-lg") %></li>
                  <li> <%= link_to image_tag("facebook_icon_30x30.gif"), user_omniauth_authorize_path(:facebook) %></li>

                <% end %>


                </ul>
              </div>
            </div>

          </div>
        </nav>
      </div>


<!-- <div class="col-md-2 admin-sidebarlist">
      <div class="list-group">
        <%#= link_to "新增產業", new_admin_industry_path, :class => "list-group-item" %>
        <%#= link_to "新增職位", new_admin_position_path, :class => "list-group-item" %>
        <%#= link_to "編輯產業", admin_industries_path, :class => " list-group-item" %>
        <%#= link_to "編輯職位", admin_positions_path, :class => " list-group-item" %>
      </div>
  </div> -->
  <!-- </div> -->

      <div class="container">
       <!-- <div class="row"> -->
        <!-- <div class="col-md-12"> -->
          <%= yield %>
        <!-- </div> -->
       <!-- </div> -->
      </div>
  <hr>
  <div class="admin-footer">
     <div class="bg-black">
       <div class="container">
         <div class="row">
            <div class="col-md-2">
              <span class="stepout-logo-bottom">
                  <%=image_tag("Stepout Logo.png") %>
              </span>
            </div>
            <div class="col-md-5">
              <div class="widget-footer">
                <div class="widget-title"><h4>創辦理念</h4></div>
                 <p>
                  <div class="widget-box">
                    <div class="about-us">
                       <p>Stepout是由一群曾對就業感到茫然的年輕人成立。我們發現許多朋友常不滿現況，卻礙於資訊不足不敢貿然轉換跑道。我們希望透過開放心胸的分享與交流，一窺各職業的真面貌，幫助年輕人找到自己的熱忱所在。</p>
                    </div>
                  </div>
                </p>
              </div>
            </div>
            <div class="col-md-5">
              <div class="widget-footer">
                <div class="widget-title"><h4>聯絡我們</h4></div>
                 <p>
                  <div class="widget-box">
                    <div class="contact-us">
                     <p>
                       <div class="input-group margin-bottom-sm">
                          <span class="input-group-addon">
                            <i class="fa fa-envelope-o fa-fw"></i>
                          </span>
                            <input class="form-control" type="email" placeholder="Email address">

                       </div>
                      </p>
                    </div>
                  </div>
                </p>
              </div>
            </div>
         </div>
       </div>
     </div>
  </div>
</body>
</html>



