<!DOCTYPE html>
<html>
<head>
  <title>Stepout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="navbar-wrapper">


        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="/"><h1 class="fa fa-gg-circle">Stepout</h1></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">職業類別 <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                     <%Position.all.each do |p|%>
                     <li><%=link_to p.name,topics_path(:p=>p.id)%></li>
                     <%end%>
                  </ul>
                </li>

                <li>
                <% if current_user %>
                 <%=link_to "我要投稿",new_draft_path%>
                <% else %>
                  <%=link_to "我要投稿",new_session_path(:user)%>
                <% end %>
                </li>
                <li>
                  <% if current_user && current_user.admin? %>
                    <%= link_to "Admin", admin_topics_path %>
                  <% end %>
                </li>
              </ul>


              <div class="right">
              <ul class="nav navbar-nav">

                <% if current_user %>
                  <li><%=current_user.name||current_user.email%></li>
                  <li><%=link_to "會員中心",user_path(current_user)%></li>
                  <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
                  <li><%= link_to('修改密碼', edit_registration_path(:user)) %></li>
                <% else %>
                  <li><%=link_to "會員中心",new_session_path(:user)%></li>
                  <li><%= link_to('註冊', new_registration_path(:user)) %></li>
                  <li><%= link_to('登入', new_session_path(:user)) %></li>
                  <li> <%= link_to image_tag("facebook_icon_30x30.gif"), user_omniauth_authorize_path(:facebook) %></li>

                <% end %>


              </ul>
              </div>
            </div>

          </div>
        </nav>

      </div>

      <%= yield %>


  <div class="footer">
     <div class="bg-black">
       <div class="container">
         <div class="row">
            <div class="col-md-2">
              <h1 class="fa fa-gg-circle fa-2x">Stepout</h1>
            </div>
            <div class="col-md-5">
              <div class="widget-footer">
                <div class="widget-title"><h4>創辦理念</h4></div>
                 <p>
                  <div class="widget-box">
                    <div class="about-us">
                       <p>民進黨總統候選人蔡英文認為，國民黨總統候選人朱立倫身為
                       新北市市長，卻違背了原先做好做滿的諾言，誠信令人質疑。對此，朱立倫則回應：記得有一次在淡水參拜時，一位阿嬤建議他一定要出來選總統，只好忍痛違背做好做滿的承諾。</p>
                    </div>
                  </div>
                </p>
              </div>
            </div>
            <div class="col-md-5">
              <div class="widget-footer">
                <div class="widget-title"><h4>聯絡我們</h4></div>
                 <p>
                  <div class="widget-box">
                    <div class="contact-us">
                     <p>
                       <div class="input-group margin-bottom-sm">
                          <span class="input-group-addon">
                            <i class="fa fa-envelope-o fa-fw"></i>
                          </span>
                            <input class="form-control" type="text" placeholder="Email address">

                       </div>
                      </p>
                    </div>
                  </div>
                </p>
              </div>
            </div>
         </div>
       </div>
     </div>
    </div>
</body>
</html>
