<!DOCTYPE html>
<html>
<head>
  <title>Stepout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
    <div class="bg-black">
      <div class="container">
       <div class="row">
        <div class="col-md-2">
          <h1 class="fa fa-gg-circle fa-2x">Stepout</h1>
        </div>

        <div class="col-md-6">
          <nav class="menu">
           <ul>
              <li><a href="">職業清單</a>
                <ul class="poisition-menu">
                  <% Position.all.each do |p| %>
                    <li><%= link_to p.name %></li>
                  <% end %>
                </ul>
              </li>
            <li><a href="new_topic_path">我要投稿</a></li>
           </ul>
          </nav>
        </div>

        <div class="col-md-4">
          <div class="member-status">
            <ul>
                  <% if current_user %>
              <li><a href="">會員中心</a></li>
              <li><%= link_to "登出", destroy_user_session_path, method: :delete %>
              </li>
              <li><%= link_to "修改資料", edit_registration_path(:user)%></li>
              <% else %>
              <li><%= link_to('註冊', new_registration_path(:user)) %></li>
              <li><%= link_to('會員登入', new_session_path(:user)) %></li>
              <li>
                <%= link_to "登入", user_omniauth_authorize_path(:facebook), :class => "fa fa-facebook-official"%>
              </li>
                 <% end %>
            </ul>
          </div>
        </div>
       </div>
      </div>
     </div>
    </div>
  <% if flash[:notice].present? %>
          <div class="alert alert-success" role="alert"><%= flash[:notice] %>
          </div>
          <% end %>

        <% if flash[:alert].present? %>
          <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
          <% end %>

<%= yield %>

<hr>
  <div class="footer">
     <div class="bg-black">
       <div class="container">
         <div class="row">
            <div class="col-md-2">
              <h1 class="fa fa-gg-circle fa-2x">Stepout</h1>
            </div>
            <div class="col-md-5">
              <div class="widget-footer">
                <div class="widget-title"><h4>創辦理念</h4></div>
                 <p>
                  <div class="widget-box">
                    <div class="about-us">
                       <p>民進黨總統候選人蔡英文認為，國民黨總統候選人朱立倫身為
                       新北市市長，卻違背了原先做好做滿的諾言，誠信令人質疑。對此，朱立倫則回應：記得有一次在淡水參拜時，一位阿嬤建議他一定要出來選總統，只好忍痛違背做好做滿的承諾。</p>
                    </div>
                  </div>
                </p>
              </div>
            </div>
            <div class="col-md-5">
              <div class="widget-footer">
                <div class="widget-title"><h4>聯絡我們</h4></div>
                 <p>
                  <div class="widget-box">
                    <div class="contact-us">
                     <p>
                       <div class="input-group margin-bottom-sm">
                          <span class="input-group-addon">
                            <i class="fa fa-envelope-o fa-fw"></i>
                          </span>
                            <input class="form-control" type="text" placeholder="Email address">

                       </div>
                      </p>
                    </div>
                  </div>
                </p>
              </div>
            </div>
         </div>
       </div>
     </div>
  </div>
</body>
</html>
